<dom-module id="nyaovim-app">
  <template>
    <style>
      .horizontal {
        display: flex;
        width: 100%;
        height: 100%;
      }
      neovim-editor {
        width: 100%;
        height: 100%;
      }

    #side-bar {
      width: 200px;
      flex: none;
    }
    tree-view {
      font-size: 14px;
      font-family: Monaco, Meiryo, monospace;
      color: #f0f0f0;
      background-color: #333333;
      border-right: solid 2px #666666;
    }
    </style>

    <div class="horizontal">
      <neovim-editor
	      id="nyaovim-editor"
	      argv="[[argv]]"
	      font="monospace"
              font-size="18"
              font="Ricty Diminished,Fira Code"
              line-height="1.5"
	      ></neovim-editor>
      <markdown-preview editor="[[editor]]"></markdown-preview>
    </div>
  </template>
</dom-module>

<script>
window.toggleWindowFullScreen = function() {
  const win = require('electron').remote.getCurrentWindow();
  win.setFullScreen(!win.isFullScreen());
};
</script>
